<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Expense History</h1>
       
    </header>
    <main>
        <div>
            <%list.forEach(data=>{%>
                <%if(data.category){%>
                    <article>
                    <h2>Category:<%=data.category%></h2>
                   <h3>Amount:<%=data.amount%></h3>
                     <span>Date:<%=data.date.toString().substring(0,15)%></span>
                      </article>
                      <%}else if(data.source){%>
                <article>
                    <h2>Source:<%=data.source%></h2>
                    <h3>Amount:<%=data.amount%></h3>
                    <span>Date:<%=data.date.toString().substring(0,15)%></span>
                </article>
                <%}%>
            <%})%>
        </div>
    </main>
</body>
</html>